* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #402640;
    margin: 0 auto;



}

.fontstyle {
    font-size: 14px;
}

/* NAVIGATION STYLING */
.nav-menu {
    z-index: 2;

}

.navbar-brand,
.navbar-toggler {
    display: flex;
    align-items: center;
}

.nav-menu {
    text-transform: uppercase;
    font-weight: 500;
}

.nav-menu .nav-link {
    color: #fff;
    padding: 10px;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
}


.nav-menu .nav-link:hover {
    color: #c6aac6;
    transform: scale(1.05);
}

.dropdown-menu {
    padding: 0;
    margin: 0;

}

.dropdown-menu .dropdown-item {
    transition: all 0.2s ease-in-out;
    padding: 12px 20px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #c6aac6;
    color: #2b0f28;
}


/* HERO SECTION STYLING */
.hero {
    position: relative;
    background-color: #402640;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 35px;
    width: 100%;

}

.image-cont {
    padding: 0;
    margin: 0;
}

.image-bg {
    position: absolute;
    top: -90px;
    right: 0;
    width: 650px;
    height: 650px;
    z-index: 1;
}

@media (max-width: 1200px) {
    .image-bg {
        opacity: 0.20;
    }
}

@media (max-width: 768px) {
    .image-bg {
        opacity: 0.10;
    }
}

.hero-spacing {
    margin: 15px 0;
}

.hero-style {
    font-weight: 800;
}

.hero-title {
    font-size: 50px;
    flex: 1;
    min-width: 0;
    white-space: nowrap;

}

@media (max-width: 576px) {
    .hero-title {
        white-space: normal;
    }

}

.highlight-title {
    display: block;
    margin-top: 0;
    color: #c6aac6;
}

/* REGISTER SECTION STYLING */
.register {
    width: 100%;
    padding: 40px;
    background: linear-gradient(90deg, #8e608e, #402640);
    overflow: hidden;

}

.reg-style {
    font-weight: 800;
}

.signup-form {
    margin: 20px 0;
}

.signup-form .signup-form-group {
    display: flex;
    max-width: 575px;
    background: #fff;
    border-radius: 50px;
    border: 4px solid #c7abc7;

}

.signup-form-group .form-control {
    border: none;
    background: transparent;
    border-radius: 50px;

    padding: 18px 30px;

}

.signup-form-group .form-control:focus {
    box-shadow: none;

}

.signup-form .btn-signup {

    background: linear-gradient(135deg, #ff3c7b, #c41c5a);
    padding: 0 30px;
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.signup-form .btn-signup:hover {
    background: linear-gradient(135deg, #ff5a8f, #d92a6c);

}

.status-text {
    background: #c7abc7;
    color: #8e608e;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.status-text .small {
    text-wrap: nowrap;
}

.lang-style {
    padding-left: 5px;
}

.lang {
    display: inline-block;
    transition: transform 0.2s ease;
    gap: 15px;
}

.lang:hover {
    transform: scale(1.2);
}

/* SERVICES SECTION STYLING */
.services {
    background: linear-gradient(180deg, #2b0f28, #360f2e);

}

.features-heading {
    padding-top: 40px;

}

.hero-features-title {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-badge {
    padding: 0;
    position: absolute;
    top: -60px;
    right: -80px;

}


/* SERVICE_DESC SECTION STYLING */
.service_desc {
    background: #290c24;
}

/* VISION SECTION STYLING */
.vision {
    background: #402640;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision-img {
    padding: 0;
    margin: auto 0;
}

@media (max-width: 576px) {
    .img-icon {
        height: 250px;
        margin: 0 auto;
        padding: 0;
    }

    .page-text {
        text-align: center;
    }
}

/* LIBRARY SECTION STYLING */
.library-section {
    background-image: radial-gradient(#3b0f32 20%, #290c24 100%);
}

.badge-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #1c081b;
    border: 4px solid #402640;
    width: 320px;
    height: 75px;
}

.status {
    background: #331433;
    padding: 10px;
    margin-right: 10px;
    width: 150px;
}

.released {
    background: #c7abc7;
    color: #2C0F29;
}

/* FOOTER SECTION STYLING */
.cta-footer {
    padding: 40px 0;
    background: #260c24;
}

.cta-title {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 700;
}

.cta-title span {
    color: #c6aac6;
}

.cta-form {
    max-width: 560px;
    margin: 0 auto;
}

.cta-input-group {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;

}

.cta-input {
    border: none;
    background: transparent;
    padding: 16px 22px;
    box-shadow: none;
    border-radius: 50px;
    align-items: center;
}

.cta-input:focus {
    outline: none;
    box-shadow: none;
}

.cta-btn {
    background: linear-gradient(135deg, #ff3c7b, #c41c5a);
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    padding: 12px 30px;
    margin-right: 4px;
    border: none;
    white-space: nowrap;

}

.cta-btn:hover {
    background: linear-gradient(135deg, #ff5a8f, #d92a6c);
    color: #fff;
}

@media (max-width: 576px) {
    .cta-input-group {
        flex-direction: row;
        align-items: center;
    }

    .cta-form {
        max-width: 400px;
        margin: 0 auto;
    }

    .cta-btn {
        margin-right: 2px;
    }

}