* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #402640;
    width: 100%;
}

.image-bg {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    height: 630px;
    z-index: 1;
    right: 0;
}

@media (max-width: 1200px) {
    .image-bg {
        opacity: 0.20;
    }
}

@media (max-width: 768px) {
    .image-bg {
        opacity: 0.10;
    }
}

/* NAVIGATION STYLING */

.navbar-brand,
.navbar-toggler,
.nav-item {
    display: flex;
}

.nav-menu {
    text-transform: uppercase;
    font-weight: 500;
}

.nav-menu .nav-link {
    color: #fff;
    padding: 10px;
    margin: auto;
    transition: all 0.2s ease-in-out;
}

.nav-menu .nav-link:hover {
    color: #c6aac6;
    font-size: 15px;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    transition: all 0.2s ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #c6aac6;
    color: #2b0f28;
}


/* HERO SECTION STYLING */
.hero {
    padding: 10px;

}

.hero-spacing {
    margin: 15px 0;
}

.hero-style {
    font-weight: 800;
}

.hero-title {
    font-size: 60px;

}

.highlight-title {
    display: block;
    margin-top: 0;
    color: #c6aac6;
}

/* REGISTER SECTION STYLING */
.register {
    width: 100%;
    position: relative;
    padding: 40px;
    background: linear-gradient(90deg, #8e608e, #402640);

}

.reg-style {
    font-weight: 800;
}

.signup-form {
    margin: 20px 0;
}

.signup-form .signup-form-group {
    display: flex;
    max-width: 575px;
    background: #fff;
    border-radius: 40px;
    border: 4px solid #c7abc7;

}

.signup-form-group .form-control {
    border: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 30px;

}

.signup-form-group .form-control:focus {
    box-shadow: none;

}

.signup-form .btn-signup {
    font-size: 16px;
    background: linear-gradient(90deg, #8e608e, #553355);
    padding: 0 30px;
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 30px;
}

.btn-signup:hover {
    font-size: 17px;

}

.status-text {
    background: #c7abc7;
    color: #8e608e;
    padding: 10px 20px;
}

.lang:hover {
    font-size: 17px;
    transition: all 0.2s ease-in-out;
}

/* SERVICES SECTION STYLING */
.services {
    background: linear-gradient(180deg, #2b0f28, #360f2e);

}

.features-heading {
    padding-top: 40px;

}

.hero-features-title {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-badge {
    padding: 0;
    position: absolute;
    top: -60px;
    right: -80px;

}


/* SERVICE_DESC SECTION STYLING */
.services_desc {
    background: #290c24;
}

/* VISION SECTION STYLING */
.vision {
    background: #402640;
}

/* LIBRARY SECTION STYLING */
.library-section {
    background-image: radial-gradient(#3b0f32 20%, #290c24 100%);
}

.badge-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #1c081b;
    border: 4px solid #402640;
    width: 320px;
    height: 75px;
}

.status {
    background: #331433;
    font-size: 12px;
    padding: 10px;
    margin-right: 10px;
    width: 150px;
}

.released {
    background: #c7abc7;
    color: #2C0F29;
}

/* FOOTER SECTION STYLING */

.footer {
    padding: 40px 0;
    background: #260c24;
}

.footer-form-group {
    display: inline-flex;
    justify-content: center;
    position: relative;
    align-items: center;

}

.footer-form {
    width: 520px;
    border: 2px solid #fff;

    @media (max-width: 520px) {
        width: 470px;
    }
}

.footer-btn {
    position: absolute;
    right: 2px;
}

.footer-form,
.footer-btn {
    border-radius: 30px;
    padding: 15px;
}